@{
    ViewBag.Title = "About";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    
     <p>
        This project has been done for term project of Ceng311 class.<br />
Ahmet Esad TOP 
1105012033 
    </p>
    <img src="~/img/ahmet2013.jpg" alt="aet" style="width:1280px;height:970px;">
   
</article>

<aside>
</aside>